.MuiCard-root {
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 5px;
}
.makeStyles-root-1 {
    padding: 20px 0px;
}
span.titles{
    font-weight: bold;
    color: #f50057;
}