.comment-section{
    display: flex;
    border-bottom: 1px solid black;
}
.comment-content{
    margin-left: 10px;
    padding: 1px 5px;
}
.comment-header{
    text-decoration: underline;
}
.comment-name{
    font-weight: bold;

}